@{
  Layout = "_Layout";
}

<h3>Order Details: </h3>

<h3>@Model["order"].OrderTitle</h3>
<h5>Order Description</h5>
<h3>@Model["order"].OrderDescription</h3>
<h5>Order Date</h5>
<h3>@Model["order"].OrderDate</h3>
<h5>Order Price</h5>
<h3>@Model["order"].OrderPrice</h3>
<h5>Category: @Model["vendor"].VendorName</h5>

<a href='/vendors/@Model["vendor"].VendorId/orders/new'>Add another Order</a>
<a href='/vendors'>View all Vendors</a>